NEXT_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=your_appwrite_project_id
NEXT_PUBLIC_APPWRITE_DATABASE_ID=your_appwrite_database_id
APPWRITE_DATABASE_ID=your_appwrite_database_id
APPWRITE_API_KEY=your_appwrite_api_key
APPWRITE_STORAGE_BUCKET_ID=your_appwrite_bucket_id
RESEND_API_KEY=your_resend_api_key
ADMIN_EMAIL=your_admin_email@example.com
